// Bouton desktop

.primaryBtn{
    position: relative;
    height: 44px;
    line-height: 44px;
    text-decoration: none;
    display: inline-block;
    background: $colorAction;
    color: white;
    padding: 0 1.8rem;
    border-radius: 15px;
    overflow: hidden;
    &.-fleche{
        padding: 0 0.925rem 0 1.8rem;
        transition: padding 0.3s $easeInOutBack;
        &:hover{
                padding: 0 1.8rem 0 1.8rem;
                transition: padding 0.3s $easeInOutBack;
        }
    }
    &:hover{
        .fleche__line{
            transform: scaleX(1.7);
            transition: transform 0.3s $easeInQuart;
        }

        .fleche__pointe{
            transform: translateX(14px);
            transition: transform 0.3s $easeInQuart;
        }  
    }
    .fleche {
        width: 30px;
        *{
            fill:white;
        }
        .fleche__line{
            transition: transform 0.4s $easeInQuart;
        }

        .fleche__pointe{
            transition: transform 0.4s $easeInQuart;
        }  
        
    }
    span{
        position: relative;
        z-index: 2;
    }
}


.primaryBtn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: $horizontalGradient;
    opacity: 0;
    transition: opacity 450ms $authenticMotion, transform 450ms $magikMotion;
    transform: translateX(60px);
}

.primaryBtn:hover::after{
    opacity: 1;
    transform: translateX(0px);
}



//bouton variant page modeles

.BtnVariant-modeles{
    text-decoration: none;
    background: $roseClair;
    color: white;
    padding: 1rem 1.8rem;
    border-radius: 15px;
    &.-fleche{
        padding: 1rem 0.925rem 1rem 1.8rem;
        transition: padding 0.3s ease-in-out;
        &:hover{
                padding: 1rem 1.8rem 1rem 1.8rem;
                transition: padding 0.3s ease-in-out;
        }
    }
    &:hover{
        .fleche__line{
            transform: scaleX(1.7);
            transition: transform 0.3s ease-in-out;
        }

        .fleche__pointe{
            transform: translateX(14px);
            transition: transform 0.3s ease-in-out;
        }  
    }
    .fleche {
        width: 30px;
        *{
            fill:white;
        }
        .fleche__line{
            transition: transform 0.3s ease-in-out;
        }

        .fleche__pointe{
            transition: transform 0.3s ease-in-out;
        }  
        
    }
}

.BtnVariant-modeles:hover{
    background: $horizontalGradientVariant;
}


// Bouton compte

.primaryBtnCompte{
    text-decoration: none;
    display: inline-block;
    background: $colorAction;
    color: white;
    padding: 1rem 3rem;
    border-radius: 15px;
}

.primaryBtnCompte:hover{
    background: $horizontalGradient;
}