// Bouton desktop

.primaryBtn{
    position: relative;
    height: 44px;
    line-height: 44px;
    text-decoration: none;
    display: inline-block;
    background: $colorAction;
    color: white;
    padding: 0 1.8rem;
    border-radius: 15px;
    overflow: hidden;
    border: 0;
    &.-fleche{
        padding: 0 0.925rem 0 1.8rem;
        transition: padding 0.45s $easeInOutBack;
        &:hover{
                padding: 0 1.8rem 0 1.8rem;
                transition: padding 0.3s cubic-bezier(0.68, -0.55, 0.4, 2.26) 0.15s;
        }
    }
    &:hover{
        .fleche__line{
            transform: scaleX(1.7);
            transition: transform 0.3s $easeInOutExpo;
        }

        .fleche__pointe{
            transform: translateX(14px);
            transition: transform 0.3s $easeInOutExpo;
        }  
    }
    .fleche {
        width: 30px;
        position: absolute;
        top: 47%;
        left: 5px;
        transform: translate(0, -50%);

        *{
            fill:white;
        }
        .fleche__line{
            transition: transform 0.4s $easeInQuart;
        }

        .fleche__pointe{
            transition: transform 0.4s $easeInQuart;
        }  
        
    }
    span{
        position: relative;
        z-index: 2;
        display: inline-block;
        vertical-align: top;

        &.icon-container {
            width: 30px;
            height: 100%;
            font-size: 15px;
        }
    }
}

button{
    font-family: $fontFamily;
}

.primaryBtn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: $horizontalGradient;
    opacity: 0;
    transition: opacity 450ms $authenticMotion, transform 450ms $magikMotion;
    transform: translateX(60px);
}

.primaryBtn:hover::after{
    opacity: 1;
    transform: translateX(0px);
}



//bouton variant page modeles

.BtnVariant-modeles{
    text-decoration: none;
    background: $roseClair;
    color: white;
    padding: 1rem 1.8rem;
    border-radius: 15px;
    &.-fleche{
        padding: 1rem 0.925rem 1rem 1.8rem;
        transition: padding 0.3s ease-in-out;
        &:hover{
                padding: 1rem 1.8rem 1rem 1.8rem;
                transition: padding 0.3s ease-in-out;
        }
    }
    &:hover{
        .fleche__line{
            transform: scaleX(1.7);
            transition: transform 0.3s ease-in-out;
        }

        .fleche__pointe{
            transform: translateX(14px);
            transition: transform 0.3s ease-in-out;
        }  
    }
    .fleche {
        width: 30px;
        *{
            fill:white;
        }
        .fleche__line{
            transition: transform 0.3s ease-in-out;
        }

        .fleche__pointe{
            transition: transform 0.3s ease-in-out;
        }  
        
    }
}

.BtnVariant-modeles:hover{
    background: $horizontalGradientVariant;
}


// Bouton compte

.primaryBtnCompte{
    position: relative;
    text-decoration: none; 
    color: white;
    border-radius: 15px;
    display: flex;
    width: 12vw;
    height: 8vh;
    margin: 0 0 2vw 2vw;
    overflow: hidden;
    &.-deco {
        background: $rougeVoila;
    }
    &.-compte {
        background: $colorAction;
    }
}

.primaryBtnCompte svg, .primaryBtnCompte img, .textBtn {
    margin: auto;
    z-index: 2;
}

.primaryBtnCompte span {
    position: relative;
    z-index: 2;
}

.primaryBtnCompte.-deco::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $horizontalGradientDeco;
    z-index: 0;
    opacity: 0;
    transition: opacity 450ms $authenticMotion, transform 450ms $magikMotion;
    transform: translateX(60px);
}

.primaryBtnCompte.-compte::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $horizontalGradient;
    z-index: 0;
    opacity: 0;
    transition: opacity 450ms $authenticMotion, transform 450ms $magikMotion;
    transform: translateX(60px);
}

.primaryBtnCompte:hover::after{
    opacity: 1;
    transform: translateX(0px);
}