//Base Font Settings for both Mobile and Desktop
body, html {
    font-family: $fontFamily;
    font-size: 16px;
    font-weight: 300;
}

h1,h2,h3{
    color: $colorTitle;
}

//Media Queries for Desktop 
@media screen and (min-width: 960px) { 
    
    h1{
        font-weight: 900;
        font-size: 45px;
    }
    
    h2{
        font-weight: 500;
        font-size: 36px;
    }
    
    h3{
        font-weight: 500;
        font-size: 24px;
    }
    
    // Styles des titres jolis
    
    .titlePage p, .titlePage h1 {
        font-size: 45px; 
        font-weight: 900;
        line-height: 0em;
        width: 85%;
        margin-left: 7.5%;
    }
    
    .titlePage {
        width: 31%;
        height: 25vh;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding-top: 15vh;
        margin-left: 10%;
        
        background-image: url("../assets/Icones/deco-titre.svg");
    }
    
    .titlePage__1 {
        color: $colorActionSecond;
        margin-left: 0px;
        margin-top: -6px;
    }
    
    .titlePage__2 {
        color: $bleuFluo;
        margin-left: 3px;
        margin-top: -3px;
    }
    
    .titlePage__3 {
        color: $colorTitle;
        margin-left: 6px;
        margin-top: -3px;
    }
    
    
    // fin des titres jolis
    
    //titres jolis sur deux lignes
    
    .titlePage2 p, .titlePage2 h1 {
        font-size: 45px; 
        font-weight: 900;
        line-height: 0em;
        width: 85%;
        margin-left: 7.5%;
    }
    
    .titlePage2 {
        width: 31%;
        height: 25vh;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding-top: 7vh;
        margin-left: 6%;
    }
    
    .titlePage2__1 {
        color: $colorActionSecond;
        margin-left: 0px;
        margin-top: -6px;
    }
    
    .titlePage2__2 {
        color: $bleuFluo;
        margin-left: 3px;
        margin-top: -3px;
    }
    
    .titlePage2__3 {
        color: $colorTitle;
        margin-left: 6px;
        margin-top: -3px;
    }
    
    //fin des titres jolis sur deux lignes
    
    p{
        color: $colorText;
        line-height: 24px;
    }
    
    label,input{
        color: $colorText;
        margin-left: 10px;
    }
    
    label{
        padding-left: 0;
    }
     
    .formulaire__msgError{
        padding-left: 20px;
        margin-left: 10px;
        margin-top: 10px;
        color: red;
    }

    strong {
        font-weight: 700;
    }

}

//Media Queries for Mobile
@media screen and (max-width: 960px) { 
    
    h1{
        font-weight: 900;
        font-size: 32px;
    }
    
    h2{
        font-weight: 500;
        font-size: 26px;
    }
    
    h3{
        font-weight: 500;
        font-size: 18px;
    }
    
    // Styles des titres jolis
    
    .titlePage p, .titlePage h1 {
        font-size: 32px; 
        font-weight: 900;
        line-height: 0em;
        width: 85%;
        margin-left: 7.5%;
    }
    
    .titlePage {
        width: 31%;
        height: 25vh;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding-top: 15vh;
        margin-left: 10%;
        
        background-image: url("../assets/Icones/deco-titre.svg");
    }
    
    .titlePage__1 {
        color: $colorActionSecond;
        margin-left: 0px;
        margin-top: -6px;
    }
    
    .titlePage__2 {
        color: $bleuFluo;
        margin-left: 3px;
        margin-top: -3px;
    }
    
    .titlePage__3 {
        color: $colorTitle;
        margin-left: 6px;
        margin-top: -3px;
    }
    
    
    // fin des titres jolis
    
    //titres jolis sur deux lignes
    
    .titlePage2 p, .titlePage2 h1 {
        font-size: 32px; 
        font-weight: 900;
        line-height: 0em;
        width: 85%;
        margin-left: 7.5%;
    }
    
    .titlePage2 {
        width: 31%;
        height: 25vh;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding-top: 7vh;
        margin-left: 6%;
    }
    
    .titlePage2__1 {
        color: $colorActionSecond;
        margin-left: 0px;
        margin-top: -6px;
    }
    
    .titlePage2__2 {
        color: $bleuFluo;
        margin-left: 3px;
        margin-top: -3px;
    }
    
    .titlePage2__3 {
        color: $colorTitle;
        margin-left: 6px;
        margin-top: -3px;
    }
    
    //fin des titres jolis sur deux lignes
    
    p{
        color: $colorText;
        line-height: 21px;
    }
    
    label,input{
        color: $colorText;
        margin-left: 10px;
    }
    
    label{
        padding-left: 0;
    }
     
    .formulaire__msgError{
        padding-left: 20px;
        margin-left: 10px;
        margin-top: 10px;
        color: red;
    }

    strong {
        font-weight: 700;
    }

}