//Base Font Settings for both Mobile and Desktop
body, html {
    font-family: $fontFamily;
    font-size: 16px;
    font-weight: 300;
}

h1,h2,h3{
    color: $colorTitle;
}

//Media Queries for Desktop 
@media screen and (min-width: 960px) { 
    
    h1{
        font-weight: 900;
        font-size: 45px;
    }
    
    h2{
        font-weight: 500;
        font-size: 36px;
    }
    
    h3{
        font-weight: 500;
        font-size: 24px;
    }
    
    // Styles des titres jolis
    
    .titlePage {
        font-size: 45px;
        font-weight: 800;
        color: $colorTitle;
        text-shadow: 3px 3px $colorActionSecond, 6px 6px $bleuFluo;
        position: relative;
        top: 40%;
        left: 10%;
        width: 80%;
        line-height: initial;
        &__container{
            width: 31%;
            height: 25vh;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin-left: 10%;
            background-image: url("../assets/Icones/deco-titre.svg");
        }
    }

    

    // fin des titres jolis
    
    p{
        color: $colorText;
        line-height: 24px;
    }
    
    label,input{
        color: $colorText;
        margin-left: 10px;
    }
    
    label{
        padding-left: 0;
    }
     
    .formulaire__msgError{
        padding-left: 20px;
        margin-left: 10px;
        margin-top: 10px;
        color: red;
    }

    strong {
        font-weight: 700;
    }

}

//Media Queries for Mobile
@media screen and (max-width: 960px) { 
    
    h1{
        font-weight: 900;
        font-size: 32px;
    }
    
    h2{
        font-weight: 500;
        font-size: 26px;
    }
    
    h3{
        font-weight: 500;
        font-size: 18px;
    }
    
    // Styles des titres jolis
    
    .titlePage {
        font-size: 45px;
        font-weight: 800;
        color: $colorTitle;
        text-shadow: 3px 3px $colorActionSecond, 6px 6px $bleuFluo;
        position: relative;
        top: 30%;
        text-align: center;
        line-height: initial;
        &__container{
            width: 90%;
            height: 25vh;
            margin-left: 5%;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin-top: 10%;
            background-image: url("../assets/Icones/deco-titres-mobile.svg");
        }
    }
    
    
    // fin des titres jolis
    
    p{
        color: $colorText;
        line-height: 21px;
    }
    
    label,input{
        color: $colorText;
        margin-left: 10px;
    }
    
    label{
        padding-left: 0;
    }
     
    .formulaire__msgError{
        padding-left: 20px;
        margin-left: 10px;
        margin-top: 10px;
        color: red;
    }

    strong {
        font-weight: 700;
    }

}